.grid-container {
    display: grid;
    grid-template-areas:
            'header header header header navbar navbar'
            '.... .... .... .... .... menu'
            'list list list list list list'
            'footer footer footer footer footer footer';
    grid-gap: 5px;
    background-color: #2196F3;
}

.product-add-container {
    display: grid;
    grid-template-areas:
            'header header header header navbar navbar'
            'menu add add list list list'
            'menu add add list list list'
            'menu footer footer footer footer footer';
    grid-gap: 10px;
    background-color: #2196F3;
}
.item1 { 
    grid-area: header;
}
.productlist { 
    grid-area: list; 
}
.item5 { 
    grid-area: footer; 
}
.banner {
    grid-area: header; 
    padding-bottom: 10px;
}
.menu {
    grid-area: menu;
}
.card-body {
    min-height:170px;
    min-width:275px;
}
.card-img-top {
    max-height:300px;
    max-width:280px;
}
.d-flex .flex-wrap {
    max-width:auto; 
    max-height:auto;
}
.card {
    max-width:auto;
    max-height:auto;
}

p {
    font-family: "Times New Roman", sans-serif;
    font-size: 15px;
}

flex-wrap: nowrap | wrap | wrap-reverse
* {box-sizing: border-box;}

.button {
    background-color: #af0100;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.flex-container {
    position: relative;
    flex-wrap: wrap;
}

.checkbox {
    position: absolute;
    top:5px;
}

.add-product-menu {
    grid-area: add;
    text-align: center;
}

.grid-container {
    background-color:  #2196F3;
    text-align: center;
    padding-right: 10px 0;
    font-size: 30px;
}
.description {
    color: #b4afaf;
    font-size: 10px;
    font-weight: normal;
}

.dropbutton {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    z-index: 2;
}

.dropdown {
    width: 200px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbutton {
    background-color: #3e8e41;
}

.special-attribute{
    display: none;
}
.special-attribute-book{
    display: none;
}
.special-attribute-DVD{
    display: none;
}
.special-attribute-furniture{
    display: none;
}

/*navigation bar styles*/

.topnav {
   
    overflow: hidden;
    grid-area: header;
}

.topnav a {
    grid-area: header;
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    grid-area: header;
}

.topnav a.active {
    background-color: #2196F3;
    color: white;
    grid-area: header;
}


